body,
div,
a,
p,
img,
ul,
li {
  margin: 0;
  padding: 0;
}
html,
body,
.all {
  height: 100%;
}
ul {
  list-style: none;
}
.head {
  width: 100%;
  height: 10%;
  padding: 10px 10px;
  background-color: #3492ea;
}
.head .location {
  margin: 0 auto;
  overflow: hidden;
}
.head .location .location-span {
  margin: 0 auto;
  height: 20px;
  display: table;
  font-size: 16px;
  color: white;
}
.head .location .location-span img {
  width: 15px;
}
.head .search {
  width: 100%;
}
.head .search a {
  width: 90%;
  display: block;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  background-color: white;
  font-size: 16px;
  color: #9d9d9d;
}
.head .search a img {
  width: 18px;
}
.main {
  width: 100%;
  background-color: #efefef;
}
.main .hot {
  background-color: white;
  overflow: hidden;
  padding-top: 2%;
}
.main .hot a {
  width: 25%;
  height: 80px;
  float: left;
  line-height: 50%;
}
.main .hot a img {
  width: 45px;
  margin: 0 auto;
  display: block;
}
.main .hot a p {
  margin: 10px auto;
  display: table;
  color: #9d9d9d;
}
.main .list {
  margin-top: 10px;
  margin-bottom: 50px;
  background-color: white;
  width: 100%;
  position: absolute;
  top: 320px;
}
.main .list .nav {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  padding: 15px 0 ;
  margin-left: -1px;
  overflow: hidden;
}
.main .list .nav div {
  width: 33.33%;
  float: left;
  text-align: center;
  border-left: 1px solid #cccccc;
}
.main .list .nav div a p {
  display: inherit;
  color: black;
}
.main .list .nav div a img {
  width: 13px;
}
.main .list .merchantlist {
  width: 100%;
  padding-left: 10px;
  margin-bottom: 50px;
}
.main .list .merchantlist .details {
  width: 100%;
  border-bottom: 1px solid #cccccc;
  overflow: hidden;
}
.main .list .merchantlist .details img {
  float: left;
  width: 70px;
  margin-left: 10px;
  margin-top: 10px;
}
.main .list .merchantlist .details div {
  float: right;
  width: 75%;
}
.main .list .merchantlist .details div ul {
  width: 100%;
}
.main .list .merchantlist .details div ul li {
  overflow: hidden;
  padding: 10px 0;
  border-bottom: 1px solid #cccccc;
  margin-right: 10px;
  margin-bottom: -1px;
}
.main .list .merchantlist .details div ul li p {
  color: #a3a3a3;
}
.main .list .merchantlist .details div ul li span {
  display: flex;
}
.main .list .merchantlist .details div ul li span .a {
  width: 19px;
  height: 19px;
  border-radius: 5px;
  text-align: center;
  line-height: 20px;
  color: white;
  margin-right: 10px;
  margin-bottom: 5px;
}
.main .list .merchantlist .details div ul li span .discount {
  background-color: #cc22e3;
}
.main .list .merchantlist .details div ul li span .deductible {
  background-color: #4db7e1;
}
.main .list .merchantlist .details div ul li div {
  width: 100%;
  padding: 3px 0;
}
.main .list .merchantlist .details div ul li .left {
  float: left;
}
.main .list .merchantlist .details div ul li .right {
  float: right;
}
.main .list .merchantlist .details div ul li .name {
  font-size: 18px;
  font-weight: 600;
  color: black;
}
.main .list .merchantlist .details div ul li .money {
  color: #dd7542;
  font-size: 16px;
  font-weight: 600;
  padding-right: 5px;
}
.main .list .merchantlist .details div ul li .big {
  font-size: 18px;
  margin-top: -2px;
}
.main .list .merchantlist .details div ul li .start {
  width: 90px;
  height: 20px;
  margin-left: 0;
  margin-top: 0;
  margin-right: 5px;
}
.main .list .merchantlist .details div ul li .start + p {
  padding-right: 5px;
}
.main .list .merchantlist .details div ul li .logo {
  width: 65px;
  height: 20px;
  margin-left: 0;
  margin-top: 0;
}
.main .list .classification {
  width: 50%;
  background-color: white;
  overflow: hidden;
  float: left;
  margin-top: -1px;
  display: none;
}
.main .list .classification li {
  width: 100%;
  padding: 10px;
  overflow: hidden;
  background-color: #cccccc;
  border-top: 1px solid #cccccc;
}
.main .list .classification li p:first-child {
  float: left;
}
.main .list .classification li p:last-child {
  float: right;
  color: #636363;
}
.main .list .classification .active {
  background-color: white;
}
.main .list .second {
  width: 50%;
  float: right;
  margin-top: -1px;
  display: none;
}
.main .list .second li {
  width: 100%;
  padding: 10px;
  overflow: hidden;
  border-top: 1px solid #cccccc;
}
.main .list .second li p:first-child {
  float: left;
}
.foot {
  width: 100%;
  position: fixed;
  bottom: 0;
  overflow: hidden;
  background-color: white;
}
.foot a {
  width: 25%;
  display: block;
  float: left;
  text-align: center;
  color: #9d9d9d;
}
.foot a img {
  width: 30px;
}
