body,div,a,p,img,ul,li {
  margin:0;
  padding:0;
}
html,body,.all {
  height: 100%;
}
ul{
  list-style: none;
}
.head {
  width: 100%;
  height: 10%;
  padding:20px 10px;
  background-color: #3492ea;
  text-align: center;
  color: white;
  font-size: 16px;
  a{
    overflow: hidden;
    #head1{
      width: 18px;
      float: left;
    }
    #head2, #head3{
      width: 27px;
      float: right;
    }
  }
}

.nav {
  width: 100%;
  height: 8%;
  overflow: hidden;
  position: relative;
  div {
    width: 33.33%;
    height: 100%;
    text-align: center;
    line-height: 54px;
    float: left;
  }
  & a{
    width: 33.33%;
    height: 5px;
    background-color: #3492ea;
    position: absolute;
    top:48px;
    left:0;
  }
}
.notice {
  width: 100%;
  height: 5%;
  background-color: #fff8d7;
  overflow: hidden;
  padding:10px 0;
  img,p,a{
    float: left;

  }
  p{
    font-size: 12px;
    margin-right: 10px;
  }
  #head4{
    width: 15px;
    margin:0 5px;
  }
  #head5{
    width: 10px;
  }
  a{
    width: 18px;
    height: 18px;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    line-height: 18px;
    margin-left: 2px;
    color: white;
  }
  .discount{
    background-color: #cc22e3;
  }
  .deductible{
    background-color: #4db7e1;
  }
}

.main{
  width: 100%;
  height: 70%;
  //height: 100%;        //评价页面
  overflow:hidden;
  .in {
    width: 300%;
    height: 100%;
    .commodity, .evaluate, .business{
        width: 33.33%;
        height: 100%;
        float: left;
    }
    .commodity{
      //display: none;   //调试
      ul{
        float: left;
      }
      .list{
        width: 30%;
        height: 100%;
        background-color: #efefef;
        //overflow: hidden;
        li{
          width: 100%;
          height: 11.11%;
          border-top:1px solid #cccccc;
          line-height: 51px;
          div{
            width: 5%;
            margin-right: 20px;
            background-color: transparent;
          }
        }
        .active{
          background-color: white;
          div{
            background-color: #3492ea;
          }
        }
        #start{
          width: 15px;
          margin-right: 5px;
          margin-top: -3px;
        }
      }
      .content{
        width: 70%;
        height: 100%;
        overflow: auto;
        .category{
          width: 100%;
          height: 7%;
          background-color: #e6e6e6;
          padding-left: 10px;
          line-height: 32px;
          font-weight: 600;
        }
        .details{
          width: 100%;
          min-height: 30%;
          overflow: hidden;
          div{
            float: left;
          }
          .img{
            width: 30%;
            height: 100%;
            .listimg{
              width: 60px;
              margin-top: 10px;
              margin-left: 10px;
            }
          }
          .text{
            width: 70%;
            height: 100%;
            padding-right: 5px;
            .h1{
              font-size: 18px;
              font-weight: 600;
              margin-top: 10px;
            }
            .introduce{
              font-size: 12px;
            }
            span{
              padding: 5px 0;
              display: block;
              overflow: hidden;
              img,p{
                display: inline-block;
              }
              .start{
                width: 70px;
                margin-top:-4px;
              }
              .add{
                width: 20px;
                float: right;
              }
              .p{
                color: #ff6413;
              }
              .number{
                font-size: 18px;
              }

            }
          }
        }
      }
    }


    .evaluate{
      min-height: 110%;
      background-color: #efefef;
      .praise{
        width: 100%;
        height: 12%;
        float: none;
        padding:10px;
        background-color: white;
        .left{
          width: 30%;
        }
        .right{
          width: 70%;
          border-left: 1px solid #cccccc;
        }
        div{
          height: 100%;
          float: left;
          padding:10px;
          text-align: center;
          .big{
            font-size: 20px;
            font-weight: 600;
            color: #f46700;
          }
          span{
            display: block;
            padding:3px 0;
            img{
              width: 90px;
              margin-top:-5px;
            }
            p{
              display: inline-block;
              color: #f46700;
              font-weight: 600;
            }
          }
        }
      }
      .list{
        width: 100%;
        min-height: 90%;
        background-color: white;
        //float: none;
        margin-top: 10px;
        .screen{
          width: 100%;
          height: 13%;
          padding:15px 0;
          overflow: hidden;
          background-color: white;
          //text-align: center;
          a{
            width: auto;
            //height: 100%;
            float: left;
            padding:5px;
            border: 1px solid #cccccc;
            border-radius: 5px;
            margin-left: 15px;
            color: black;
            img{
              width: 20px;
              margin-top:-2px;
              margin-right:3px;
            }
          }
          .active{
            color: white;
            background-color: #3492ea;
          }
        }
        .content{
          width: 100%;
          height: 7%;
          background-color: white;
          overflow: hidden;
          padding:3px 15px;
          border-bottom: 1px solid #cccccc;
          img{
            width: 20px;
            float: left;
          }
          p{
            float: left;
          }
        }
        ul{
          width: 100%;
          height: 100%;
          background-color: white;
          list-style: none;
          padding-left: 10px;
          li{
            width: 100%;
            height: 30%;
            border-bottom: 1px solid #cccccc;
            padding-right: 10px;
            div{
              overflow: hidden;
              padding:10px 0;
              .start{
                width: 90px;
              }
              .headimg{
                float: right;
                width: 30px;
              }
              .icon{
                float: left;
                margin-top: 3px;
                margin-right:5px;
              }
              p{
                display: inline-block;
                float: right;
                margin-top:5px;
                margin-right:5px;
                min-height: auto;
              }
              .time{
                float: left;
                padding-right:20px;
                color: #bdbdbd;
              }
              .Specifications{
                float: left;
                color: #bdbdbd;
              }
            }
            p{
              min-height: 50px;
            }
          }
        }
      }
    }


    .business{

    }
  }
}

.foot{
  width: 100%;
  height: 7%;
  background-color: rgba(61,61,61,1);
  overflow: hidden;
  color: white;
  padding:10px;
  //display: none;   //调试
  div{
    display: -webkit-box;
    float: left;
    img{
      width: 30px;
      padding-right: 5px;
    }
    p{
      font-size: 20px;
    }
  }
  span{
    display: -webkit-box;
    float: right;
    font-size: 20px;
  }
}